<!DOCTYPE html>
<html>
<head>
	<title>tinyUrl</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/url.css">
		<script type="text/javascript" src = "/JS/ExternalLib/jquery-3.5.1.min.js"></script>
</head>
<body>

 <div class = "container">
 	<div class="jumbotron">
 		<h1 class="abc"> URL Shortner</h1>
 		<p>Copy the shortened link and share it in messages, texts, posts, websites and other locations.</p>
 		<p>Make sure that your url starts with <strong>https://</strong> or <strong>http://</strong></p>
 	</div>

 	    <form action="/sumbit" method="GET">
 	    	<div class = "we">
    	        URL  <input class = "ipp" type="text" name="text" placeholder=" Enter the link here" size="40">
    	        <button class="btnn">Sumbit</button>  
            </div>
 	    </form>
  

 	
     <br><br><br><br><br>
     <hr class ="hrr">
      <div class = "iot">
       	 &copy; Copyright 2020 MJ-Sagar Tiny  URL - Developed By <a href="https://www.facebook.com/profile.php?id=100009240368390">MJ</a>  and <a href="https://www.facebook.com/Sagar.LightYagami">Sagar</a> | Privacy Policy
       </div>
     






 </div>

 <script type="text/javascript" src = "/JS/top.js"></
</body>
</html>